@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.retour{
    background-color: rgb(21, 21, 70);
    position:fixed;
    right: 10px;
    bottom: 10px;
    border: white solid 2px;
    border-radius: 10px;
    color: white;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 30px;
    z-index: 2;
}

.retour:hover{
    background-color: black;
}

.en-tete{
    display: flex;
    background-color: rgb(21, 21, 70);
    justify-content: center;
    align-items: center;
    height: 2vw;
}

.en-tete p{
    font-size: 1vw;
}

.en-tete a{
    text-decoration: none;
    color: rgb(107, 107, 202);
}

header{
    background-color: white;
    color: rgb(53, 54, 90);
    display: flex;
    position: sticky;
    top: -1px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px 20px;
    z-index: 5;
    height: 5vw;
}

header img{
    height: 4vw;
}

header button{
    color: white;
    border: solid 1px white;
    border-radius: 50px;
    background-color: rgb(53, 54, 90);
    transition: 0.5s;
}

header .menu{
    display: none;
    font-size: 4vw;
    height: 8vw;
    width: 8vw;
}

header .menu:hover{
    cursor: pointer;
    transform: rotate(90deg);
}

header a{
    text-decoration: none;
}

header a .contact{
    display: inline;
    font-size: 1vw;
    height: 4vw;
    width: 10vw;
    font-family: 'Open Sans', sans-serif;
}

header a .contact:hover{
    color: black;
    border: solid 1px black;
    background-color: white;
    cursor: pointer;
}

header ul{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li{
    display: inline;
    margin-right: 20px;
}

header ul li a {
    color: rgb(53, 54, 90);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2vw;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1.4vw;
}

header ul li a:hover {
    color: orange;
    border-bottom: 0.4vw solid gold;
}

.sous{
    display: none;
    background-color: white;
    position: absolute;
    margin-left: 12vw;
    width: auto;
    z-index: 1;
}

header div > ul li:hover .sous{
    display: flex;
    flex-direction: column;
}

.sous a{
    margin: 0.5vw;
    padding-bottom: 0.1vw;
}

.sous a:hover{
    border-bottom: none;
    background-color: #eee;
}

.deroulant > a::after{
    content:" ▼";
    font-size: 1.1vw;
}

.presentation {
    background-color: #99d9e4;
    padding: 30px 40px 40px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 90vh;
}

.img-presentation{
    width: 50%;
    height: fit-content;
}

.presentation .text{
    padding: 20px 5%;
}

.presentation h1 .title{
    color: rgb(53, 54, 90);
    font-size: 5vw;
}

.presentation h1 .description{
    color: rgb(67, 68, 114);
    font-size: 3vw;
    padding-bottom: 4vw;
}

.presentation ul{
    color: rgb(67, 68, 114);
    font-size: 1.5vw;
    margin-left: 10%;
    list-style: none;
}

.presentation ul li{
    margin-bottom: 1vw;
}

.presentation ul img{
    width: 5%;
}

.transition-presentation{
    width: 100%;
}

.title-skills{
    color: rgb(89, 94, 194);
    font-size: 4vw;
    text-align: center;
    padding-bottom: 6vw;
}

.title-skills span{
    color: rgb(70, 72, 129);
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 10vw;
    padding-bottom: 5vw;
    gap: 4vw;
}

.skill{
    text-align: center;
    width: 29%;
    height: 25vw;
    border: solid rgb(119, 119, 248) 0.5vw;
    border-radius: 20px;
    box-shadow: 0px 10px 2vw #555;
    padding: 1vw;
    transition: 0.5s;
}

.skill:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 4vw #555;
    cursor: pointer;
}

.skill img{
    width: 50%;
    height: fit-content;
    margin: 1vw 0;
}

.skill h2{
    color: rgb(53, 54, 90);
    font-size: 2vw;
    padding-bottom: 2vw;
}

.skill p{
    color: #333;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
}

.title-pitch{
    color: rgb(89, 94, 194);
    font-size: 4vw;
    text-align: center;
    padding: 6vw 0;
}

.title-pitch span{
    color: rgb(70, 72, 129);
}

.pitch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 15vw;
    gap: 4vw;
}

.pitch div{
    position: relative;
    background-color: white;
    text-align: center;
    width: 29%;
    height: 22vw;
}

.pitch img{
    width: 50%;
}

.pitch p{
    color: rgb(53, 54, 90);
    font-size: 1.8vw;
    font-family: 'Open Sans', sans-serif;
}

.pitch .ajout{
    display: none;
    background-color: white;
    width: 15%;
}




.page-vente{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-vente img{
    width: 35%;
    max-width: 504px;
    height: fit-content;
}

.page-vente .details-produit{
    width: 45%;
    padding: 5% 0px;
}

.page-vente .details-produit h1, h2, p{
    color: white;
    letter-spacing: 1px;
}

.page-vente .details-produit p{
    padding-left: 12%;
}

.page-vente .details-produit p span{
    text-decoration:underline;
}

.page-vente .details-produit hr{
    width: 50%;
    height: 10px;
    background-color: #555;
    border: none;
}

.page-vente .details-produit button{
    background: linear-gradient(#905, rgb(0, 0, 139));
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 20px;
    color: #CCC;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
    margin: 2% 12%;
}

.page-vente .details-produit a button:hover{
    background: linear-gradient(#c05, rgb(25, 0, 139));
    transform: scale(0.95);
}

.text-apropos{
    text-align: center;
}

.text-apropos p{
    color: white;
    text-align: left;
    padding: 15px 10% 50px 10%;
}

.text-apropos img{
    width: 30%;
    max-width: 433px;
    min-width: 230px;
}

.FAQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vw;
    background-color: #99d9e4;
}

.FAQ h1{
    color: rgb(70, 72, 129);
    font-size: 3.8vw;
    padding-bottom: 1vw;
    text-align: center;
}

.FAQ h1 span{
    color: rgb(53, 54, 90);
}

.FAQ p{
    color: rgb(53, 54, 90);
    font-size: 2vw;
    padding-bottom: 4vw;
    font-family: 'Open Sans', sans-serif;
}

.FAQ .questions{
    width: 60vw;
    text-align: center;
}

.FAQ .question{
    padding: 0.9vw;
}

.FAQ hr{
    border: dashed rgb(53, 54, 90) 0.1vw;
}

.FAQ .questions .question a{
    color: rgb(53, 54, 90);
    text-decoration-line: none;
    letter-spacing: 1px;
    font-size: 1.5vw;
}

.inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 69, 134);
    padding-bottom: 4vw;
}

.inscription h1{
    color: black;
    font-size: 2.5vw;
    padding-bottom: 1vw;
}

.inscription h1 span{
    color: #ccc;
    letter-spacing: 0.5px;
}

.inscription h2{
    color: black;
    font-size: 2vw;
    padding-bottom: 1vw;
}

.page-inscription{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2vw;
    border: solid 5px rgb(0, 50, 97);
    background-color: rgb(0, 59, 114);
    box-shadow: 0px 0px 100px black;
    border-radius: 2vw;
    max-width: 80vw;
    padding: 1vw;
    margin: 2vw;
}

.page-inscription p{
    color: white;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
}

.page-inscription p span{
    font-size: 1.2vw;
    font-family: 'Open Sans', sans-serif;
}

.page-inscription div{
    text-align: center;
    width: 48%;
}

.page-inscription input, textarea{
    width: 100%;
    height: 3vw;
    border-radius: 0.8vw;
    font-size: 1.5vw;
    padding-left: 0.5vw;
    border: none;
}

.page-inscription .submit{
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 2vw;
    font-family: 'Open Sans', sans-serif;
}

.page-inscription .submit:hover{
    background-color: black;
    color: white;
    transform: scale(0.99);
}

.page-inscription textarea{
    padding-top: 0.6vw;
}

.page-inscription .entreprise{
    width: 100%;
}

.page-inscription textarea{
    height: 18vw;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 2vw;
    font-size: 1.2vw;
}

footer .categorie{
    list-style: none;
    text-align: center;
    width: 25%;
    padding: 2vw;
}

footer .categorie a{
    text-decoration: none;
    color: inherit;
}

footer img{
    width: 80%;
    cursor: pointer;
}

footer p{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* format tablette moyenne */
@media screen and (max-width: 768px){

    .en-tete{
        height: 8vw;
    }

    .en-tete p{
        font-size: 4vw;
    }

    header{
        height: 10vw;
    }

    header img{
        height: 8vw;
    }

    header .menu{
        display: block;
    }

    header div .contact, div ul{
        display: none;
    }

    .presentation{
        padding: 2vh 5vw;
        flex-direction: column;
        height: auto;
    }

    .presentation .text{
        height: 50%;
        padding: 20px 0px 2vw 0px;
    }

    .presentation h1 .title{
        font-size: 10vw;
    }

    .presentation h1 br{
        display: none;
    }

    .presentation h1 .description{
        font-size: 7vw;
        padding: 7vw 0;
    }

    .img-presentation{
        height: auto;
        width: 80vw;
    }

    .presentation ul{
        display: block;
        font-size: 4vw;
    }

    .presentation ul img{
        display: inline;
        height: auto;
    }

    .presentation ul li{
        margin-bottom: 1vw;
    }

    .skills{
        margin: 0 5vw;
    }

    .title-skills{
        font-size: 10vw;   
        margin: 5vh 3vw 0 3vw;
    }

    .skill{
        width: 210px;
        height: auto;
        margin-bottom: 10px;
        flex-grow: 1;
        overflow: hidden;
    }

    .skill img{
    width: 70%;
    }

    .skill h2{
        font-size: 6vw;
    }

    .skill p{
        font-size: 4.6vw;
        padding: 3vw 0;
    }

    .title-pitch{
        padding-top: 50px;
        font-size: 10vw;   
        margin: 5vh 3vw 0 3vw;
    }

    .pitch{
        margin: 0 5vw;
        padding-bottom: 5vw;
        gap: 10vw;
    }

    .pitch div{
        width: 200px;
        height: auto;
        margin-bottom: 10px;
        flex-grow: 1;
        overflow: hidden;
    }

    .pitch img{
        width: 70%;
        margin-bottom: 20px;
    }

    .pitch p{
        font-size: 5vw;
    }

    .FAQ{
        padding-bottom: 15vw;
    }
    
    .FAQ h1{
        text-align: center;
        font-size: 10vw;   
        margin: 10vw 3vw 5vw 3vw;
    }
    
    .FAQ p{
        text-align: center;
        font-size: 7vw;
        margin-bottom: 8vw;
    }
    
    .FAQ .questions{
        width: 80vw;
    }
    
    .FAQ .questions .question{
        padding: 4vw;
    }
    
    .FAQ .questions .question a{
        letter-spacing: 1px;
        font-size: 6vw;
    }

    .inscription{
        padding-bottom: 15vw;
    }
    
    .inscription h1{
        padding-bottom: 5vw;
        font-size: 7vw;
        text-align: center;
    }
    
    .inscription h2{
        font-size: 5vw;
        padding-bottom: 8vw;
    }
    
    .page-inscription{
        gap: 3vw;
        border: solid 1vw rgb(0, 50, 97);
        box-shadow: 0px 0px 100px black;
        padding: 3vw;
    }
    
    .page-inscription p{
        text-align: center;
        font-size: 4.5vw;
    }
    
    .page-inscription p span{
        font-size: 4vw;
    }
    
    .page-inscription div{
        width: 100%;
    }
    
    .page-inscription input, textarea{
        height: 6vw;
        border-radius: 2vw;
        font-size: 4vw;
    }
    
    .page-inscription .submit{
        border-radius: 4vw;
    }
    
    .page-inscription textarea{
        height: 36vw;
    }

    footer {
        padding: 4vw;
        font-size: 4vw;
        gap: 5vw;
    }
    
    footer .categorie{
        width: 47%;
        padding: 5vw 2vw;
    }
}



.page-apropos{
    text-align: center;
}

.page-apropos img{
    width: 25%;
    display: inline;
    margin: 2vw;
}

.text-apropos{
    margin-top: 2vw;
}

.text-apropos h2{
    text-align: center;
    color: black;
    font-size: 3.5vw;
}

.text-apropos p{
    text-align: left;
    color: black;
    font-size: 1.8vw;
}

@media screen and (max-width: 768px){
    
    .page-apropos img{
        width: 50%;
    }

    .text-apropos{
        margin-top: 8vw;
    }

    .text-apropos h2{
        font-size: 8vw;
        margin-bottom: 4vw;
    }
    
    .text-apropos p{
        font-size: 6vw;
    }
}

.vide{
    text-align: center;
    font-size: 10vw;
    color: rgb(53, 54, 90);
    margin: 45vh auto;
}